{% extends 'base.html.twig' %}

{% block title %}Contact us{% endblock %}

{% block body %}
    <div>
        <div {{ react_component('Contact') }}></div>
    </div>
    <div class="flex justify-center">
        <a class="mt-6 text-white underline text-white px-4 py-2" href="{{ path('app_homepage') }}">Back to homepage</a>
    </div>
{% endblock %}