{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex justify-center items-center">
        <div>
            <h2 class="text-6xl text-white text-center font-bold font-impact mt-6">
                <span class="text-orange font-bold">DTC</span> Symfony <span class="text-orange font-bold">exo</span>
            </h2>
            <div {{ react_component('MiniCalculator', { inputStyle: 'mb-4 bg-gray-50 border border-gray-300 text-darkBlue text-sm rounded-lg focus:text-darkBlue block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-darkBlue dark:focus:darkBlue dark:focus:darkBlue', routePath: path('app_homepage') }) }}></div>
            <hr class="mt-6 text-white">
            <h2 class="text-2xl text-center text-white mt-6 mb-2 font-bold">Other Exo</h2>
            <div class="cards flex justify-around items-center">
                <div class="mt-6" {{ react_component('Card', {
                    linkPath: path('app_contact_us'),
                    title: 'Twig link',
                    textColor: 'white',
                    bgColor: 'orange',
                }) }}></div>
                <div class="mt-6" {{ react_component('Card', {
                    linkPath: path('app_user_index'),
                    title: 'CRUD User',
                    textColor: 'white',
                    bgColor: 'orange'
                }) }}></div>
            </div>
        </div>
    </div>
{% endblock %}