{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h2 class="text-orange text-center text-2xl font-bold my-4">Edit User</h2>
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="flex justify-center">
        <div class="w-2/4 mt-2 bg-orange text-center text-white px-4 py-2">
            {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>
    <div class="flex justify-center">
        <a class="mt-6 text-white underline text-white px-4 py-2" href="{{ path('app_user_index') }}">Back to list</a>
    </div>
{% endblock %}
